.xo-so-mb .hidden-print {
    display: none;
}
.xo-so-mb .table-kq-north-west > tbody > tr td {
    text-align: center;
}
.xo-so-mb .table-kq-hover tbody td:hover:not(.cau-khong-ton-tai) {
    background-color: #ffbf00;
}
.xo-so-mb .gray {
    color: #323232 !important
}
.kq-xoso td {
    text-align: center;
}
.xo-so-mb li a.active  {
    color: #ff0e00;
    background: none;
    box-shadow: inset 0 -2px 0 0 #ff0e00;
    padding: 10px 0;
    font-weight: bold;
}
.xo-so-mb .kqbackground {
    background-color: #fff
}
.xo-so-mb {
    text-align: center;
}
.xo-so-mb  ul.li-mb li {
    display: inline;
    margin: 0 auto 15px;
    border-bottom: 1px solid #edeef4;
    padding: 10px 15px;
}
@media screen and (max-width:768px){
    .xo-so-mb ul.li-mb li {
        display: -webkit-inline-box;
    }
}
.xo-so-mb .kqcenter {
    text-align: center;
    vertical-align: middle !important
}


.xo-so-mb .maudo {
    color: red !important
}

.xo-so-mb .dosam {
    color: #900
}


.xo-so-mb .mauden {
    color: #3c2f2f
}

.xo-so-mb .chu30 {
    font-size: 30px !important
}


.xo-so-mb .chu22 {
    font-size: 22px
}


.xo-so-mb .chu15 {
    font-size: 15px
}


.xo-so-mb .vietdam {
    font-weight: 700
}


.xo-so-mb .viethoa {
    text-transform: uppercase
}


.xo-so-mb .kqvertimarginw {
    margin-bottom: 10px !important
}


.xo-so-mb .button-noborder {
    color: #333;
    background-color: #fff;
    border-color: #fff
}


#doxoso > form {
    padding-bottom: 2px
}


.xo-so-mb .mien2 li {
    text-transform: lowercase
}

.xo-so-mb .mien2 li a {
    color: #000
}

.xo-so-mb .mien2 li p {
    margin: 0
}

.xo-so-mb .mien2 li p:first-letter {
    text-transform: uppercase
}

.xo-so-mb .mien2 li a:hover {
    color: #ed1d27;
    text-decoration: none
}


.xo-so-mb .datepicker-months > table > tbody > tr > td, div.xo-so-mb .datepicker-years > table > tbody > tr > td {
    width: 180px
}


.xo-so-mb .news-board a {
    color: #000;
    line-height: 22px
}

.xo-so-mb .news-board a:hover {
    text-decoration: none;
    color: blue
}


.xo-so-mb .right-menu-item a {
    font-size: 14px;
    color: #000
}

.xo-so-mb .right-menu-item a:hover {
    color: #ed1d27;
    text-decoration: none
}


.xo-so-mb .right-menu-title a {
    color: #fff
}

.xo-so-mb .right-menu-title a:hover {
    color: blue;
    text-decoration: none
}


.xo-so-mb .footer-col a {
    text-decoration: none;
    color: #333;
    float: left
}

.xo-so-mb .footer-col a:hover {
    color: #ed1d27;
    text-decoration: none
}


.xo-so-mb .menuh2 a {
    color: #fff
}

.xo-so-mb .menuh2 a:hover {
    text-decoration: none;
    color: #333
}

.xo-so-mb .menuh2 a:active {
    text-decoration: none;
    color: #333
}


.xo-so-mb .martop10 {
    margin-top: 10px
}

.xo-so-mb .newscontent p img {
    max-width: 80% !important;
    text-align: center !important
}


.xo-so-mb .relatenews a {
    color: #333
}

.xo-so-mb .relatenews a:hover {
    color: #c00;
    text-decoration: none
}


.xo-so-mb .news_image img {
    width: 100%
}


.xo-so-mb .news-main h4 {
    margin-top: 0 !important
}


.xo-so-mb .all-table a {
    font-size: 18px !important
}


.xo-so-mb .big-button button {
    padding: 20px
}


.xo-so-mb .title_row_4d td {
    border-bottom: 1px;
    font-weight: 700
}


.xo-so-mb .sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.xo-so-mb .sidebar-nav a, .xo-so-mb .sidebar-nav a:hover, .xo-so-mb .sidebar-nav a:focus, .xo-so-mb .sidebar-nav a:active {
    outline: none
}

.xo-so-mb .sidebar-nav ul li, .xo-so-mb .sidebar-nav ul a {
    display: block
}

.xo-so-mb .sidebar-nav ul a {
    padding: 4px 15px;
    color: #000;
    font-weight: 500;
    border-top: 1px solid #dcdee3;

}


.xo-so-mb .sidebar-nav ul a:hover, .xo-so-mb .sidebar-nav ul a:focus, .xo-so-mb .sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none
}

.xo-so-mb .sidebar-nav ul ul a {
    padding: 7px;
    background-color: #fff
}

.xo-so-mb .sidebar-nav ul ul a:hover, .xo-so-mb .sidebar-nav ul ul a:focus, .xo-so-mb .sidebar-nav ul ul a:active {
    background-color: #fff;
    color: #ed1d27
}


.xo-so-mb .table-kq-border tr td:first-child {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #7e7e7e
}

.xo-so-mb .table-kq-border tr td:last-child {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #7e7e7e
}

.xo-so-mb .table-kq-border thead tr:first-child th, table.xo-so-mb .table-kq-border thead tr:first-child td {
    border-top: solid !important;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #5784a9
}

.xo-so-mb .table-kq-border tr:last-child td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #7e7e7e
}

.xo-so-mb .table-kq-hover tbody td:hover:not(.xo-so-mb .cau-khong-ton-tai) {
    background-color: #ffbf00
}

.xo-so-mb .table-kq-north-west > thead > tr:first-child td, table.xo-so-mb .table-kq-north-west > thead > tr:first-child th, table.xo-so-mb .table-kq-north > thead > tr:first-child td, table.xo-so-mb .table-kq-north > thead > tr:first-child th {
    font-size: 17px;
    color: #900;
    background-color: #fff
}

.xo-so-mb .table-kq-north-west > tbody > tr td:first-child {
    width: 16%;
    vertical-align: middle;
    font-size: 16px;
    background-color: #fff;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #7e7e7e
}

.xo-so-mb .table-kq-bold-border {
    border: 4px solid #7e7e7e
}

table {
    background-color: transparent
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left
}

th {
    text-align: left
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ccc
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ccc
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0
}

.table > tbody + tbody {
    border-top: 2px solid #ccc
}

.table .table {
    background-color: #fff
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 3px
}

.table-bordered {
    border: 1px solid #ccc
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ccc
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}

table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column
}

table td[class*="col-"], table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #f5f5f5
}

.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #dff0d8
}

.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
    background-color: #d9edf7
}

.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3
}

.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
    background-color: #fcf8e3
}

.table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc
}

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: #f2dede
}

.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc
}

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%
}

@media screen and (max-width: 79px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }

    .table-responsive > .table {
        margin-bottom: 0
    }

    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap
    }

    .table-responsive > .table-bordered {
        border: 0
    }

    .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0
    }

    .table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0
    }
}



